<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="light" (click)="createTestUser()">Create test user</button>
  <button ion-button color="light" (click)="deleteTestUser()">Delete test user</button>
  <button ion-button color="light" (click)="updateTestUser()">Update test user</button>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <h2 *ngFor="let key of keys(user)">{{ key }}: {{ user[key] }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
